* {
  font-family: Ubuntu, sans-serif;
}

#dadosProfissionais {
  margin-top: 2rem;
}

header {
  text-align: center;
}

input[type="text"] {
  width: 20rem;
}

/* usar o style number sem as setinhas do campo */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome */
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  width: 20rem;
}

input, textarea {
  margin: .3rem 0 .8rem;
}

#outraResidencia {
  width: 10rem;
}

.radioCasa {
  margin-right: .5rem;
}