.pokedex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  width: 50rem;
}

.pokemon-card {
  margin: 1rem;
  width: 12rem;
  border: 1px solid white;
  border-radius: 5%;
}

.main-title {
  padding-top: 1rem;
  text-align: center;
}
